.header {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto; 
    min-height: 25vh; 
    position: relative;
}

.header h1 {
    font-size: 2rem;
    color: black;
    margin: 0;
}

@media (max-width: 768px) {
    .header {
        min-height: 35vh; 
    }

    .header h1 {
        font-size: 1.5rem; 
    }
}