.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    list-style: none;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btnList {
    margin: 15px;
}