
.container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
    margin-top: 10vh;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    list-style: none;
    gap: 10px;
    display: flex;
    flex-direction: row;
    
}

.btnList {
    margin: 1vw;
}

.searchContainer{
    margin-left: 30%;
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5vh;
}

.searchBar {
    display: flex;
    flex-direction: column;
}

.inputSearchBox {
    width: 35vw;
    height: 8vh;
    border-radius: 20px;
    margin-top: 10px;
}

.searchContainer h3{
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.searchButton {
    list-style: none;
    margin-left: 3vw;
}

@media (max-width: 480px) {
    .container {
      max-width: 90vw;
      flex-direction: column;
    }

    .buttonContainer {
        flex-direction: row;
        margin-bottom: 5vh;
    }

    .searchContainer{
        flex-direction: column;
        margin-left: 10%;
    }

    .inputSearchBox {
        width: 80vw;
    }

    .searchButton {
        margin-left: 0;
    }


    
  
  }
